<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.outlook.notyetapp">

    <application>
        <provider
            android:name="com.outlook.notyetapp.data.HabitProvider"
            android:authorities="com.outlook.notyetapp.demo"
            android:exported="false"/>
    </application>

</manifest>
