<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.outlook.notyetapp"
    android:installLocation="auto">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- TODO... runtime permissions for 23+ https://blog.xamarin.com/requesting-runtime-permissions-in-android-marshmallow/ -->
    <!-- Actually, now I don't think i need permissions... I'm using the default DB location, but allow the system to move the whole app to card. -->
    <!-- This will include the db -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".NotYetApplication"
        android:theme="@style/MyTheme">

        <!-- Provider comes from the flavor specific manifest -->

        <activity
            android:name=".screen.main.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.createactivity.CreateActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".screen.habit.HabitActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".screen.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.outlook.notyetapp.screen.main.MainActivity" />
        </activity>
        <activity
            android:name=".screen.activitysettings.ActivitySettingsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".screen.habit.HabitActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.outlook.notyetapp.screen.habit.HabitActivity" />
        </activity>
        <activity
            android:name=".SortActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".screen.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.outlook.notyetapp.screen.main.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".screen.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.outlook.notyetapp.screen.main.MainActivity" />
        </activity>
        <activity
            android:name=".screen.graph.GraphActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".screen.habit.HabitActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.outlook.notyetapp.screen.habit.HabitActivity" />
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/help_activity_title"
            android:parentActivityName=".screen.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.outlook.notyetapp.screen.main.MainActivity" />
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/about_activity_title"
            android:parentActivityName=".screen.main.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.outlook.notyetapp.screen.main.MainActivity" />
        </activity>
        <activity android:name=".ErrorActivity" />
    </application>

</manifest>